
.vs/PROG5Her/v15/.suo
.vs/PROG5Her/v15/Server/sqlite3/db.lock
.vs/PROG5Her/v15/Server/sqlite3/storage.ide
.vs/PROG5Her/v15/Server/sqlite3/storage.ide-shm
.vs/PROG5Her/v15/Server/sqlite3/storage.ide-wal
PROG5Her/obj/Debug/GeneratedInternalTypeHelper.g.cs
PROG5Her/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
