
.vs/PROG5Her/v15/.suo
*.ide
*.ide-shm
*.ide-wal
*.dbmdl
*.jfm
*.jfm
QuizDB/obj/Debug/refactor.xml
QuizDB/obj/Debug/QuizDB.sqlproj.FileListAbsolute.txt
QuizDB/obj/Debug/Model.xml
QuizDB/bin/Debug/QuizDB_12.publish.sql
QuizDB/bin/Debug/QuizDB.dacpac
QuizDB/bin/Debug/DeploymentReport_19.txt
PROG5Her/QuizDB.edmx.diagram
PROG5Her/QuizDB.Designer.cs
PROG5Her/obj/Debug/View/MainWindow.baml
PROG5Her/obj/Debug/View/AddQuestionAndAnswerView.baml
PROG5Her/obj/Debug/TempPE/QuizDB.Designer.cs.dll
PROG5Her/obj/Debug/TempPE/QuizDB.cs.dll
PROG5Her/obj/Debug/PROG5Her_MarkupCompile.lref
PROG5Her/obj/Debug/PROG5Her_MarkupCompile.cache
PROG5Her/obj/Debug/PROG5Her.csprojAssemblyReference.cache
PROG5Her/obj/Debug/PROG5Her.csproj.CoreCompileInputs.cache
PROG5Her/obj/Debug/App.baml
PROG5Her/obj/Debug/AddQuestion.baml
QuizDB/obj/Debug/refactor.xml
QuizDB/obj/Debug/QuizDB.sqlproj.FileListAbsolute.txt
QuizDB/obj/Debug/Model.xml
QuizDB/bin/Debug/QuizDB.dacpac
PROG5Her/QuizDB.edmx.diagram
PROG5Her/QuizDB.Designer.cs
PROG5Her/obj/Debug/View/MainWindow.baml
PROG5Her/obj/Debug/View/AddQuestionAndAnswerView.baml
PROG5Her/obj/Debug/TempPE/QuizDB.Designer.cs.dll
PROG5Her/obj/Debug/TempPE/QuizDB.cs.dll
PROG5Her/obj/Debug/PROG5Her_MarkupCompile.lref
PROG5Her/obj/Debug/PROG5Her_MarkupCompile.cache
PROG5Her/obj/Debug/PROG5Her.csproj.CoreCompileInputs.cache
PROG5Her/obj/Debug/App.baml
PROG5Her/obj/Debug/AddQuestion.baml
PROG5Her/obj/Debug/PROG5Her_MarkupCompile.i.lref
PROG5Her/obj/Debug/PROG5Her_MarkupCompile.i.cache
PROG5Her/obj/Debug/PROG5Her.csproj.CoreCompileInputs.cache
PROG5Her/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PROG5Her/PROG5Her.csproj
PROG5Her/obj/Debug/View/QuizCRUDView.g.cs
PROG5Her/obj/Debug/View/QuizCRUDView.g.i.cs
*.baml
*.cache
*.lref
*.cache
PROG5Her/PROG5Her.csproj
PROG5Her/obj/Debug/View/QuizCRUDView.g.i.cs
PROG5Her/obj/Debug/View/MainWindow.baml
PROG5Her/obj/Debug/View/AddQuestionAndAnswerView.baml
PROG5Her/obj/Debug/PROG5Her_MarkupCompile.lref
PROG5Her/obj/Debug/PROG5Her_MarkupCompile.i.cache
PROG5Her/obj/Debug/PROG5Her_MarkupCompile.cache
PROG5Her/obj/Debug/PROG5Her.csproj.CoreCompileInputs.cache
PROG5Her/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PROG5Her/obj/Debug/App.baml
PROG5Her/obj/Debug/AddQuestion.baml
PROG5Her/bin/Debug/PROG5Her.exe
PROG5Her/bin/Debug/PROG5Her.pdb
PROG5Her/obj/Debug/GeneratedInternalTypeHelper.g.cs
PROG5Her/obj/Debug/PROG5Her.csproj.CoreCompileInputs.cache
PROG5Her/obj/Debug/PROG5Her.csproj.FileListAbsolute.txt
PROG5Her/obj/Debug/PROG5Her.csproj.GenerateResource.cache
PROG5Her/obj/Debug/PROG5Her.exe
PROG5Her/obj/Debug/PROG5Her.g.resources
PROG5Her/obj/Debug/PROG5Her.pdb
PROG5Her/obj/Debug/PROG5Her_MarkupCompile.cache
PROG5Her/obj/Debug/PROG5Her_MarkupCompile.lref
PROG5Her/obj/Debug/View/QuizCRUDView.g.i.cs
PROG5Her/PROG5Her.csproj
QuizDB/bin/Debug/QuizDB.dacpac
QuizDB/bin/Debug/QuizDB.dll
QuizDB/bin/Debug/QuizDB.pdb
QuizDB/obj/Debug/Model.xml
QuizDB/obj/Debug/QuizDB.dll
QuizDB/obj/Debug/QuizDB.pdb
QuizDB/obj/Debug/QuizDB.sqlproj.FileListAbsolute.txt
